<p>Type in a number and Kratos will tell you the factorial of that number.</p>

<form action='set_number' method='post'>
	<input type='number' name='user_number' autofocus='autofocus'>
	<input type='submit'>
</form>