<p>In mathematics, the factorial of a non-integer n, denoted by n!, is the product of all <u>positive integers</u> less than or equal to n.</p>
<p>The defintion of the factorial function can also be extended to non-integer arguments, while retaining its most important properties; this involves more advanced mathematics, notably techniques from mathematical analysis.</p>
<p><button class='button'><a href='/'>Try Again</a></button></p>